body{
	background-color: #664277;
}


.jumbotron{
	background: url("http://s27.postimg.org/mfjc942f7/Fav_sunset_west.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20%;
	width: 100%;
	height: 620px;
	background-attachment: fixed;
	background-position: center;
	margin-bottom: 0;
	margin-color: #664277;
}
.jumbotron h1{
	text-align: center;
	text-indent: left;
	vertical-align: center;
	font-size: 2em;
	font-family: "Judson";
}
.contact{
	
	margin: 0 auto;
}

.features{
	
	background-color: #664277;
	position: center;
	padding: 8%;

}

.features p{
	font-family: 'Arimo', sans-serif;
	position: center;
	text-align: center;
	color: #323232;
	font-size: 1.2em;
	/*padding-top: 10px;*/
}

footer{
	background-color: grey;
	position: fixed;
	width: 100%;
	padding: 20%;

}

footer li{
	font-family: "Judson";
	display: inline;
	text-align: center;
	vertical-align: center;
	float: left;
	padding: 5%;
}


@media screen and (max-width: 776px){
	.features img{
		max-width: 100%;
		margin:auto;
	}
/*.container-fluid{
	font-size: 1.5em;
	font-family: "Judson";
}*/